footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-footer);
}

.text-footer {
    color: var(--color-light-primary);
    font-size: 1.4rem;
}