<footer>
    <p class="text-footer text-muted">Designed by Semih POLAT</p>
    <p class="text-footer">For your questions and offers, contact <a href="mailto:polatsemih@protonmail.com" class="text-theme">polatsemih@protonmail.com</a></p>
</footer>
