<header>
    <div class="container">
        <nav class="navigation">
            <a asp-controller="Home" asp-action="Index" class="logo">Semih POLAT</a>

            <ul class="nav-menu">                 
                <li class="menu-item">
                    <a asp-controller="Home" asp-action="Index" class="menu-link">Home</a>
                </li>
                <li class="menu-item">
                    <a asp-controller="Home" asp-action="ImportExcel" class="menu-link">Send Email</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
